
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/public/build/
/mysql/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> IDE ###
/.idea/
###< IDE ###

###> npm ###
/package-lock.json
###< npm ###

