{% extends "default.html.twig" %}

{% block main_content %}
<section>
    <h1>SF4VTS Boilerplate</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis mi ut risus sollicitudin vulputate. Cras feugiat, nunc id mollis venenatis, nisi turpis rhoncus erat, non fringilla tellus dolor at lectus. Proin eu mauris sed nibh finibus condimentum. Curabitur vitae risus volutpat, bibendum quam vitae, gravida eros.</p>
</section>
{% endblock %}
