{% extends "standard.html.twig" %}

{% block main %}
<article class="MainContent">
    <h1>WiziFarm, notre politique de confidentialité...</h1>
    <section class="MainContent__section">
        <p><strong>Votre confidentialité est importante, et nous la respectons !</strong>. Notre objectif est de faire plus que ce que la loi nous impose - nous voulons gagner votre confiance et que vous soyez rassurés que nous sommes prudents avec vos données.</p>
    </section>
    <section class="MainContent__section">
        <h2>Informations générales</h2>
        <p>Cette politique définit nos pratiques de confidentialité et explique comment nous traitons les informations que nous collectons lorsque vous visitez et utilisez nos sites, services, applications mobiles, produits et contenu ("Services").</p>
    </section>
    <section class="MainContent__section">
        <h2>Ce que nous pouvons être amenés à collecter</h2>
        <p>Nous collectons des informations sur les pages WiziFarm auxquelles vous accédez, les informations sur votre appareil mobile (type d'appareil ou de navigateur), les informations que vous nous envoyez (telles qu'une adresse e-mail utilisée pour vous enregistrer ou communiquer avec nous) et les informations de référence.</p>
        <p>Lorsque vous utilisez les Services WiziFarm, nous pouvons collecter et stocker votre adresse IP. Nous pouvons utiliser cette information pour lutter contre le spam et d'autres abus; personnaliser les Services WiziFarm; ou pour générer des informations agrégées non identifiables sur la façon dont les utilisateurs utilisent les Services WiziFarm.</p>
        <p>Lorsque vous créez votre compte WiziFarm et que vous vous authentifiez via un service tiers tel que Twitter ou Facebook, nous pouvons collecter, stocker et mettre à jour périodiquement les listes de contacts associés à ce compte tiers afin de vous connecter aux contacts existants de ce service. qui sont sur WiziFarm.</p>
    </section>
    <section class="MainContent__section">
        <h2>E-mail en provenance de WiziFarm</h2>
        <p>Nous envoyons parfois des e-mails administratifs concernant les modifications de compte ou de service ou les nouvelles politiques. Vous ne pouvez pas ne pas les recevoir. Vous pouvez toujours désactiver les e-mails non administratifs tels que les résumés quotidiens.</p>
        <p>Nous ne vous enverrons pas d'e-mail pour vous demander votre mot de passe ou d'autres informations de compte. Si vous recevez un tel e-mail, envoyez-le nous afin que nous puissions enquêter.</p>
    </section>
    <section class="MainContent__section">
        <h2>Divulgation de vos informations</h2>
        <p>En règle générale, nous ne partageons pas vos informations personnelles en dehors de l'entreprise.</p>
        <p>Nous ne vendrons pas vos informations personnelles.</p>
        <p>Nous pouvons partager vos informations personnelles avec des tiers dans des circonstances limitées, notamment: (1) avec votre consentement; (2) à un fournisseur ou partenaire qui répond à nos normes de protection des données; ou (3) lorsque nous avons une croyance de bonne foi que cela est requis par la loi, par exemple en vertu d'une citation à comparaître ou d'une autre procédure légale.</p>
        <p>Si nous partageons vos informations en réponse à une procédure judiciaire, nous vous en informerons à l'avance afin que vous puissiez les contester (par exemple en demandant l'intervention du tribunal), sauf si la loi ou une ordonnance du tribunal nous en interdit l'application. Nous nous opposerons aux demandes d'informations sur les utilisateurs de notre site que nous jugeons inappropriées.</p>
        <p>Si nous fusionnons avec une autre société de sorte que vos informations soient soumises à une politique de confidentialité différente, nous vous en informerons avant le transfert. Vous pouvez vous désengager de la nouvelle politique en supprimant votre compte pendant la période de préavis.</p>
    </section>
    <section class="MainContent__section">
        <h2>Cookies</h2>
        <p>Nous utilisons des cookies et des technologies similaires telles que les pixels et le stockage local pour vous reconnaître lorsque vous revenez consulter nos Services. Nous les utilisons de diverses manières, par exemple pour vous connecter, vous souvenir de vos préférences (telles que la langue par défaut), évaluer l'efficacité du courrier électronique, afficher des annonces pertinentes et personnaliser les informations.</p>
        <p>Nous respectons les paramètres "Do Not Track" ("DNT") dans les navigateurs. Si vous êtes déconnecté de nos Services et que DNT est activé, nous ne créerons pas de cookies. En vous connectant, vous optez pour permettre à WiziFarm d'ignorer le paramètre DNT et d'utiliser des cookies afin de vous offrir une expérience personnalisée.</p>
        <p>Certains services tiers que nous utilisons, tels que Google Analytics, peuvent placer leurs propres cookies dans votre navigateur. Cette politique de confidentialité couvre l'utilisation des cookies par WiziFarm uniquement et non l'utilisation de cookies par des tiers.</p>
    </section>
    <section class="MainContent__section">
        <h2>Modifier vos informations personnelles ou supprimer votre compte</h2>
        <p>Si vous avez un compte WiziFarm, vous pouvez accéder et modifier vos informations personnelles, ou supprimer votre compte <a href="#">ici</a>.</p>
        <p>Pour protéger les informations contre une destruction accidentelle ou malveillante, nous ne supprimons pas immédiatement les copies résiduelles de nos serveurs actifs et ne supprimons pas les informations de nos systèmes de sauvegarde.</p>
        <p>Si vous supprimez votre compte, votre compte et votre contenu risquent d'être irrécupérables.</p>
    </section>
    <section class="MainContent__section">
        <h2>Sécurité des données</h2>
        <p>Nous utilisons le cryptage (HTTPS/TLS) pour protéger les données transmises vers et depuis notre site. Cependant, aucune transmission de données sur Internet n'est sécurisée à 100%, nous ne pouvons donc pas garantir la sécurité. Vous utilisez le Service à vos risques et périls et êtes responsable de la mise en place de mesures raisonnables pour sécuriser votre compte (comme utiliser un mot de passe fort).</p>
    </section>
    <section class="MainContent__section">
        <h2>Changements à cette politique</h2>
        <p>WiziFarm peut périodiquement mettre à jour cette politique. Nous vous informerons des changements importants. La version la plus récente de la politique sera toujours <a href="#">ici</a> et nous archiverons les anciennes versions de la politique <a href="#">ici</a>.</p>
    </section>

    <section class="MainContent__section">
        <h2>Des questions ?</h2>
        <p>Nous accueillons les questions, les préoccupations et les commentaires sur cette politique à <a href="#">legal@wizi.farm</a>.</p>
    </section>
</article>
{% endblock %}
