<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SF4VTS Boilerplate{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="flex flex-col h-full">
        <header class="SiteHeader w-full text-center border-b border-grey p-4 ">
            header
        </header>

        <div class="BodyLayout flex-1 container mx-auto p-8">
            {% block body %}{% endblock %}
        </div>

        <footer class="SiteFooter w-full pin-b text-center border-t border-grey p-4">
            <p>Copyright Good Game Company</p>
        </footer>
        <div id="CookieLaw"></div>
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
