<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        {% block header %}
        {{ include('default/_nav.html.twig') }}
        {% endblock %}

        {% block body %}
            <div class="max-auto rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <h1 class="text-grey-darkest">Welcome</h1>
                    <p>Tailwind : <span class="text-green">Ok</span></p>
                    {% verbatim %}
                    <div id="app"></div>
                    <!-- built files will be auto injected -->
                    {% endverbatim %}
                </div>
            </div>
        {% endblock %}

        {% block footer %}
        {{ include('default/_footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
